$colorOrange: #ff961f;
$colorLightOrange: #ffdbb3;
$colorWhite: #f1f1f1;
$colorGray: #b5b7c9;
$backgroundColor: #0f0e16;
$boxColor: hsl(248, 25%, 12%);
$boxShadowColor: hsl(250, 33%, 4%);

// COLORS
body {
  background-color: $backgroundColor;
}
h1, h2 {
  color: $colorWhite;
}
h2 {
  font-size: 40px;
}
article {
  color: $colorGray;
}
.box-coloring {
  background-color:$boxColor;
  box-shadow: 10px 10px 20px 5px $boxShadowColor;
}
.HomePage > article > h1 > span {
  color: $colorLightOrange;
}
.AboutPage > {
  article > {
    .text-desc > .about-emphasize {
      color: $colorLightOrange;
      filter: drop-shadow(0 0 0.7px  $colorOrange);
    }
    .social-links > a {
      color: $colorOrange;
      &:hover {
        filter: drop-shadow(0 0 0.7px  #{$colorOrange}CC);
      }
    }
  }
} 
.ProjectPage > .project-cards > .project-card {
  a > .project-img > .image-overlay {
    background-color: #{$colorLightOrange}80;
  }
  article > {
    div > a > .card-title {
      color: $colorWhite;
      &:hover {
        color: $colorLightOrange;
        filter: drop-shadow(0 0 0.7px  $colorOrange);
      }
    }
    .card-tech-stack {
      color: $colorOrange;
      filter: drop-shadow(0 0 0.5px  #{$colorOrange}CC);
    }
  }
}

footer {
  color: $colorWhite;
  background-color: $colorOrange;
}

@media (min-width: 768px) {
  .AboutPage > article > .social-links > {
    a {
      color: $colorWhite;
      &:hover {
        color: $colorOrange;
      }
    }
  }
}
