@mixin flex-column-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.HomePage {
  @include flex-column-center;
  width: 100vw;
  height: 100vh;
  justify-content: space-between;
  padding: 20px;
  overflow: hidden;
  article {
    h1{
      @include flex-column-center;
      padding: 20px;
      font-size: 5rem;
      line-height: 6rem;
      span{
        font-size: 1.8em;
        animation: lightsOn 5s infinite;
      }
    }
  }
  .profile-img {
    height: 90vh;
    animation: lightChanges 15s infinite;
  }
}

@keyframes lightsOn {
  0% {
    filter: drop-shadow(0 0 10px  hsl(32, 100%, 56%));
  }
  50% {
    filter: drop-shadow(0 0 7px  hsl(32, 100%, 56%));
  }
  100% {
    filter: drop-shadow(0 0 10px  hsl(32, 100%, 56%));
  }
}

@keyframes lightChanges {
  0% {
    filter: drop-shadow(0 0 0px hsl(32, 100%, 56%));
  }
  3% {
    filter: drop-shadow(0 0 0px hsl(32, 100%, 56%));
  }
  4% {
    filter: drop-shadow(0 0 10px hsl(32, 100%, 56%));
  }
  5% {
    filter: drop-shadow(0 0 0px hsl(32, 100%, 56%));
  }
  10% {
    filter: drop-shadow(0 0 0px hsl(32, 100%, 56%));
  }
  29% {
    filter: drop-shadow(0 0 20px hsl(32, 100%, 56%));
  }
  50% {
    filter: drop-shadow(0 0 20px hsl(32, 100%, 56%));
  }
  80% {
    filter: drop-shadow(0 0 50px hsl(32, 100%, 56%));
  }
  90% {
    filter: drop-shadow(0 0 0px hsl(32, 100%, 56%));
  }
  100% {
    filter: drop-shadow(0 0 0px hsl(32, 100%, 56%));
  }
}
