.ProjectPage {
  padding: 30px 50px;
  min-height: 100vh;
  height: auto;
  article > h2 {
    text-align: center;
    margin-top: 15px;
  }
  .project-cards {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    place-items: center;
    gap: 20px;
    padding: 10px;
    .project-card {
      position: relative;
      width: 270px;
      border-radius: 10px;
      overflow: hidden;
      a > .project-img {
        @include flex-column-center;
        position: relative;
        .image-overlay {
          @include flex-column-center(center);
          width: 100%;
          height: 100%;
          opacity:0 ;
          position: absolute;
          top: 0;
          left: 0;
          img {
            width: 15%;
            height: 20%;
          }
        }
        &:hover > .image-overlay {
          opacity: 100%;
          transition: 0.25s;
        }
        img {
          height: 100%;
          object-fit:cover;
        }
      }
      article {
        position: relative;
        padding: 20px;
        .card-status {
          position: absolute;
          left: 5%;
          bottom: 10%;
          padding: 5px 10px;
          border-radius: 5px;
          border-width: 2px;
          border-style: solid;
          font-size: 13px;
          text-transform: capitalize;
        }
        div {
          a {
            text-decoration: none;
            .card-title {
              font-size: 20px;
              margin-bottom: 5px;
            }
          }
          .card-desc {
            text-align: justify;
          }
        }
        .card-tech-stack {
          margin-top: 20px;
          display: flex;
          justify-content: flex-end;
          gap: 10px;
          font-size: 24px;
        }
      }
    }
  }
}
