@import './colors.scss';
@import './homepage.scss';
@import './aboutpage.scss';
@import './projectpage.scss';
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Staatliches&display=swap');

:root {
  font-size: 16px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
h1, h2 {
  font-family: 'Staatliches', cursive;
}
p {
  font-family: 'Lato', sans-serif;
  font-size: 14px;
  font-weight: bold;
}

footer {
  font-family: 'Staatliches', cursive;
  padding: 20px;
  text-align: center;

}

@media (min-width: 768px) {
  // For Desktop
  .HomePage {
    justify-content: space-evenly;
    flex-direction: row;
  }
}